<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false">

    <targets async="true">
        <target xsi:type="File" name="allfile"
                fileName="${basedir}/logs/sam3d.log"
                archiveEvery="Day"
                archiveFileName="${basedir}/logs/sam3d_{########}.log"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="365"
                layout="${longdate}|${logger}|${scopenested:separator=-}|${message:withexception=true}" />

        <target xsi:type="Console" name="con" useDefaultRowHighlightingRules="true"
                layout="${longdate}|${logger}|${scopenested:separator=-}|${message:withexception=true}"
                stdErr="false" detectConsoleAvailable="true">
        </target>

    </targets>
    <rules>
        <logger name="Microsoft.Hosting.*" minlevel="Info" writeTo="allfile,con" final="true" />
        <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" maxlevel="Warn" writeTo="" final="true" />
        <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Warn" writeTo="allfile,con" final="true" />

        <logger name="Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware" minlevel="Info" writeTo="allfile,con"
                final="true" />

        <logger name="Microsoft.*" maxlevel="Info" writeTo="" final="true" />
        <logger name="Microsoft.*" minlevel="Info" writeTo="allfile,con" final="true" />
        <logger name="*" minlevel="Info" writeTo="allfile,con" />
    </rules>
</nlog>